/*-------------------navbar------------------*/
#list{
    color: black;
}

#list:hover {
    color: chocolate;
}
.collapse{
    justify-content: flex-end;
}
/*-------------------section 1------------------*/
#box1{
    position: relative;
    padding-left: 0px;
    background-color: rgba(92, 77, 66, 0.8);
    height: 100vh;
}
#box1::before{
    content: "";
    background-image: url(images/full.jpg) ;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity : 0.7;
}
.row{
    position: relative;
    margin-right: 0px;
}
#heading{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}
.head{
    font-size: 3.5rem;
}
.solid{
    border: 2px solid chocolate;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
}
#button{
    background-color: chocolate;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 30px;
}
/*-------------------section 2------------------*/
#box2{
    background-color: chocolate;
    padding: 80px;
}
#heading2{
    margin: 0 auto;
    font-size: larger;
    text-align: center;
}
.head2{
    font-size: 3.5rem;
}
.solid{
    border: 2px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50px;
}
#button2{
    background-color: white;
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 30px;
}
/*-------------------section 3------------------*/
#box3{
    height: 450px;
    padding: 80px 0px;
}
#heading3{
    margin: 0 auto;
    text-align: center;
}
.solid{
    border: 2px solid chocolate;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
}
#row3{
    margin-top: 50px;
    margin-bottom: 80px;
}
#box33{
    text-align: center;
}
.card{
    align-items: center;
    font-size: larger;
    border: none;
}
/*-------------------section 4------------------*/
#box4{
    max-width: 1350px;
    height: 200px;
    padding-left: 0px;
    margin-bottom: 100px;
}
.image{
    position: relative;
    height: 230px;
    width: 450px;
}
.coloumn:hover .box4-1{
    opacity: 0.9;
}
.box4-1{
    background-color: chocolate;
    height: 230px;
    width: 450px;
    position: relative;
    opacity: 0;
    top: -313px;
}
.text{
    margin: 83px 0px;
    text-align: center;
    color:white;
    position: relative;
    top: 75px;
}
.text4{
    opacity: 0.6;
}
#row2{
    position: relative;
    top: -314px;
}
/*-------------------section 5------------------*/
#sec5{
    background-color: rgb(37, 36, 36);
    padding: 80px;
    margin-top: 259px;
}
#heading5{
    margin: 0 auto;
    font-size: larger;
    text-align: center;
}
#button5{
    background-color: white;
    border-radius: 30px;
    padding: 15px 25px;
    margin-top: 30px;
    font-size: medium;
}
/*-------------------section 6------------------*/
#box6{
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    font-size: 17px;
}
.solid2{
    border: 2px solid chocolate;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50px;
}
#name{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
#msg{
    width: 100%;
    padding: 10px;
    padding-bottom: 100px;
    margin-bottom: 20px;
}
#btn{
    background-color: chocolate;
    padding: 10px;
    color: white;
    border-radius: 35px;
}
#phone{
    margin-top: 50px;
    margin-bottom: 10px;
}
.footer{
    margin-top: 100px;
    margin-bottom: 30px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px){
    /*-------------------section 2------------------*/
    #box2{
        background: linear-gradient( pink, rgba(255,0,0,0) );
    }

}